@charset "UTF-8";

/*--------------------------------
全体
---------------------------------*/
body{
    font-family: Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
    color: #333;   
}

a{
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.8;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*--------------------------------
レイアウト
---------------------------------*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header{
    padding: 50px 0;
}
.header .logo{
    width: 280px;
    margin: 0 auto;
}
/*--------------------------------
メインビジュアル
---------------------------------*/
.main-visual{
    text-align: center;
}
/*--------------------------------
グローバルナビ
---------------------------------*/
.global-nav{
    padding: 40px 0;
}
.global-nav ul{
    display: flex;
    justify-content: center;
}
.global-nav ul li{
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-right: 80px;
}
.global-nav ul li:last-child{
    margin-right: 0;
}

/*--------------------------------
コンセプト
---------------------------------*/
.concept{
    padding: 50px 0;
}

.concept > .container{
    display: flex;
    align-items: center;
}

.concept .img{
    width: 50%;
}

.concept .desc{
    width: 50%;
    padding-right: 20px;
    padding-left: 40px;
}

.concept .subtitle{
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.concept .title{
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #24a8bf;
    margin-bottom: 30px;
}

.concept .text p{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.1em;
}

/*--------------------------------
ブログ記事一覧
---------------------------------*/
.blog{
    padding: 50px 0;
}

.blog .heading{
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.08em;
    color: #24a8bf;
    text-align: center;
    margin-bottom: 30px;
}

.blog .subtitle{
    display: block;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #333;
    margin-top: 8px;
}

.blog .list{
    display: flex;
    flex-flow: wrap;
}

.blog .list .item{
    width: calc((100%-60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.blog .list .item:nth-child(3n){
    margin-right: 0;
}

.blog .list .item:hover{
    opacity: 0.8;
}

.blog .list .img{
    margin-bottom: 12px;
}

.blog .list .title{
    font-size: 15px;
    line-height: 1.6;
    font-weight: bold;
}

.blog .list .date{
    font-size: 12px;
    margin-top: 6px;
}